@media all and (max-width: 1199px) {
	.banner_content h1 {
		font-size: 36px;
	}
	.banner_content p {
		font-size: 16px;
		line-height: 26px;
	}
	.banner_content {
		padding-bottom: 30px;
	}
	.counter_up_content {
		padding: 35px 25px;
	}
	.single_counterup p {
		font-size: 18px;
		line-height: 35px;
		padding-bottom: 5px;
	}
	.single_counterup strong {
		font-size: 30px;
	}
	.sp {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.title h2 {
		font-weight: bold;
		font-size: 35px;
		line-height: 46px;
		color: #201F1F;
	}
	h2 {
		font-size: 36px;
		line-height: 46px;
	}
	
	.row.works_row_custom > div:nth-child(1), .row.works_row_custom > div:nth-child(3), .row.works_row_custom > div:nth-child(6), .row.works_row_custom > div:nth-child(7), .row.works_row_custom > div:nth-child(8), .row.works_row_custom > div:nth-child(11){
		padding-left: 40px;
	  }
	.row.works_row_custom > div:nth-child(2), .row.works_row_custom > div:nth-child(4), .row.works_row_custom > div:nth-child(7), .row.works_row_custom > div:nth-child(9), .row.works_row_custom > div:nth-child(12){
		padding-left: 94px;
	  }
	.works_content p {
		font-size: 16px;
		line-height: 26px;
	}
	p{
		font-size: 16px;
		line-height: 22px;
	}
	.mood_astaking {
		width: 280px;
		height: 280px;
	}
	.mood_astaking strong {
		font-size: 37px;
		line-height: 48px;
		padding-bottom: 0;
	}
	.mood_astaking p {
		font-size: 20px;
	}
	.sustainable_t_left h4 {
		font-size: 30px;
		line-height: 45px;
		margin-top: 100px;
	}
	.mood_different {
		background-size: cover;
	}
	.liquidity_number strong {
		font-size: 36px;
		line-height: 45px;
		padding-bottom: 7px;
	}
	.row.works_row_custom > div:nth-child(4) .works_single_item::after{
		top: -79%;
		height: 123%;
	}
	.row.works_row_custom > div:nth-child(4) .works_single_item::before{

		bottom: -103%;
		height: 115%;
	}





}
@media all and (max-width: 991px) {
	.moob_banner_section {
		padding-top: 90px;
	}
	.banner_content {
		padding-bottom: 50px;
		padding-left: 25px;
	}
	.single_counterup strong {
		font-size: 23px;
		line-height: 30px;
	}
	.row.works_row_custom > div:nth-child(1), .row.works_row_custom > div:nth-child(3), .row.works_row_custom > div:nth-child(6), .row.works_row_custom > div:nth-child(7), .row.works_row_custom > div:nth-child(8), .row.works_row_custom > div:nth-child(11){
		padding-left: 15px;
	  }
	.works_image {
		max-width: 200px;
		padding-left: 15px;
	}
	.row.works_row_custom > div:nth-child(2), .row.works_row_custom > div:nth-child(4), .row.works_row_custom > div:nth-child(7), .row.works_row_custom > div:nth-child(9), .row.works_row_custom > div:nth-child(12){
		padding-left: 15px;
	  }
	.serial_number {
		margin-right: 10px;
	}
	.row.works_row_custom > div:nth-child(4) .works_single_item::after, .row.works_row_custom > div:nth-child(9) .works_single_item::after {
		display: none;
	}
	.row.works_row_custom > div:nth-child(4) .works_single_item::before, .row.works_row_custom > div:nth-child(9) .works_single_item::before {
		display: none;
	}
	.sustainable_text {
		padding-top: 25px;
	}
	.sustainable_text p {
		font-size: 16px;
		max-width: 100%;
	}
	.sustainable_text a {
		margin-top: 14px;
		margin-bottom: 40px;
	}
	.sustainable_t_left h4 {
		font-size: 24px;
		line-height: 36px;
		margin-top: 30px;
		max-width: 100%;
	}
	.sustainable_text h5 {
		font-size: 24px;
		line-height: 30px;
	}
	.a_true_title p {
		font-size: 16px;
		line-height: 25px;
		padding-top: 15px;
	}
	.mood_different_text {
		background: rgba(32, 31, 31, 0.9);
		padding: 30px;
	}
	.mood_different_text p {
		font-size: 16px;
		line-height: 25px;
		max-width: 100%;
		padding-top: 10px;
	}
	.footer_social {
		padding-top: 25px;
	}
	.footer_item {
		margin-bottom: 20px;
	}
	.footer_item h5 {
		font-size: 18px;
		padding-bottom: 5px;
	}
	.liquidity_content p {
		font-size: 16px;
		padding-top: 10px;
		margin-right: 0;
	}

}
@media all and (max-width: 767px) {
	.desktop_mneu{
		display: none;
	}
	.logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.logo button {
		visibility: visible;
		display: inline-block;
		background: transparent;
		border: none;
		outline: none !important;
		width: 44px;
	}
	.logo button img {
		width: 44px;
	}
	.menu ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.offcanvas-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		padding: 2rem 2rem;
	}
	.offcanvas-end {
		width: 310px;
	}
	.menu ul li a {
		font-size: 17px;
		margin-left: 5px;
		margin-bottom: 20px;
	}
	.btn-close:focus {
		outline: 0;
		-webkit-box-shadow: 0 0 0 0px rgba(13,110,253,.25);
		        box-shadow: 0 0 0 0px rgba(13,110,253,.25);
		opacity: 1;
	}

	.counter_up_content {
		padding: 35px 25px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.single_counterup {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
		max-width: 50%;
		width: 100%;
		margin: 10px 0px;
	}
	.mood_different {
		overflow: hidden;
	}
	.deskto_image{
		display: none;
	}
	.mobile_image{
		display: block;
	}
	.works_content {
		max-width: 100%;
		width: 100%;
	}
	.row.works_row_custom .col-md-6 {
		margin-bottom: 40px;
	}
	.footer_area {
		padding-bottom: 10px;
	}
	.sp {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.works_section.bg_white.sp {
		padding-bottom: 20px !important;
		padding-top: 85px;
	}
	.liquidity_number {
		margin-top: 30px;
	}
	


	
}
@media all and (max-width: 575px) {

	.counter_up_content {
		padding: 15px 15px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.banner_content {
		padding-bottom: 50px;
		padding-left: 0px;
		padding-right: 0px;
	}



}