body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  top:0 !important;
  font-size: 16px;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
}
.sp{
  padding-top: 140px;
  padding-bottom: 140px;
}

.bg_white{
  background-color: white;
}
.pt_0{
  padding-top: 0px;
}
.pb_0{
  padding-bottom: 0px;
}
h2{
  font-weight: 700;
	font-size: 56px;
	line-height: 56px;
	text-align: center;
}
.small_button a {
	font-family: Muli;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
	background-color: #00c1d5;
	padding: 8px 27px;
	border-color: #00c1d5;
	margin-top: 15px !important;
	transition: 0.5s;
	display: inline-block;
}
.small_button a:hover{
	background-color: #101820;
}
#page-top {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}
/* Start Style Css */
.header .container .row {
	align-items: center;
	height: 80px;
}
.menu ul {
	display: flex;
	justify-content: flex-end;
}
.menu ul li a {
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #75685C;
	margin-left: 36px;
  display: inline-block;
  transition: 0.4s;
}
.menu ul li a:hover {
  color: #DC4E4A;
}
.moob_banner_section {
	background: #FFE1C9;
	padding-top: 145px;
}
.banner_content {
	max-width: 544px;
	float: right;
	padding-right: 20px;
}
.banner_image img {
	width: 100%;
}
.banner_content p {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #75685C;
	padding-bottom: 32px;
}
.banner_content h1 {
	font-weight: bold;
	font-size: 56px;
	line-height: 48px;
	color: #DC4E4A;
	padding-bottom: 16px;
}
.banner_content a {
	background: #DC4E4A;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	padding: 14px 10px;
	display: inline-block;
	width: 150px;
  transition: 0.5s;
	text-align: center;
}
.banner_content a:hover {
  background: #201F1F;
}
.counter_up_content {
	background: #201F1F;
	border-radius: 10px;
	color: #FFF;
	padding: 75px 72px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-bottom: -43px;
}
.single_counterup strong {
	font-weight: 500;
	font-size: 36px;
	line-height: 46px;
	color: #FFFFFF;
}
.single_counterup p {
	font-weight: normal;
	font-size: 20px;
	line-height: 48px;
	color: #FFFFFF;
  padding-bottom: 8px;
}
/* Works section Css  */
.title h2 {
	font-weight: bold;
	font-size: 56px;
	line-height: 48px;
	color: #201F1F;
}
.mood_different{
  background-image: url('../images/banner/banner-taka.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.liquidity_section.sp {
	background: #FFE1C9;
}
.footer_area {
	background: #2C2A2A;
	padding-top: 34px;
	padding-bottom: 80px;
}
.mood_different_text {
	background: rgba(32, 31, 31, 0.9);
	padding: 80px;
}
.mood_different_text p {
	font-weight: 500;
	font-size: 26px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	max-width: 837px;
	margin: auto;
	width: 100%;
	padding-top: 24px;
}
.mood_different_text h2 {
	font-weight: bold;
	font-size: 56px;
	line-height: 48px;
	color: #FFFFFF;
}
.sustainable_section{
  background-color: #2C2A2A;
}
.a_true_title {
	max-width: 775px;
	margin: auto;
}
.a_true_title p {
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #75685C;
	padding-top: 32px;
}
.a_true_section {
	padding-bottom: 112px;
}
.liquidity_content h2 {
	text-align: left;
	padding-bottom: 8px;
	color: #000000;
}
.liquidity_content p {
	color: #000000;
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	padding-top: 24px;
  margin-right: 88px;
}
.liquidity_section.sp .container .row {
	align-items: center;
}
.liquidity_number strong {
	font-family: Manrope;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 48px;
	color: #DC4E4A;
	padding-bottom: 16px;
	display: block;
}
.liquidity_number p {
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	color: #000000;
	padding-bottom: 16px;
  
}